* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.nav-forv-div {
  width: 422px;
  height: 40px;
  border-radius: 100px;

  border: 1px solid blueviolet;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.Profile-div {
  display: flex;
  align-items: self-end;
}

.profile-text {
  font-size: small;
  margin-left: 8px;
  margin-bottom: 8px;

}

.noti-text {
  width: 16px;
  color: white;
  height: 18px;
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  margin-left: -12px;
  font-size: small;
  background: linear-gradient(0deg, rgb(175, 7, 242), rgb(217, 12, 145) 80%);
  /* background-color: linear-gradient(from top, rgba(192, 30, 237, 0.067), rgba(150, 7, 227, 0.267)); */
}